Source: jobs-admin
Section: admin
Priority: optional
Maintainer: Jacob Peddicord <jpeddicord@ubuntu.com>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.49), python (>= 2.6), python-support (>= 0.5.3)
Standards-Version: 3.8.4
Homepage: https://launchpad.net/jobs-admin

Package: jobservice
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-gtk2, jobservice
Description: system job management
 jobs-admin is a frontend for jobservice. It allows for easy browsing and
 management of system jobs of any type that jobservice supports.
